pool-monitor.json
[
    {
        "id": "3912702a.a517b8",
        "type": "tab",
        "label": "Temperatur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "11de07f9.80aee8",
        "type": "rpi-ds18b20",
        "z": "3912702a.a517b8",
        "topic": "",
        "array": false,
        "name": "",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "f6e8a152.0792b",
                "292b19c8.828a96"
            ]
        ]
    },
    {
        "id": "961b5beb.3397e8",
        "type": "inject",
        "z": "3912702a.a517b8",
        "name": "Minutt",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 60,
        "y": 1000,
        "wires": [
            [
                "11de07f9.80aee8"
            ]
        ]
    },
    {
        "id": "87d6270d.e1387",
        "type": "ui_chart",
        "z": "3912702a.a517b8",
        "name": "",
        "group": "216dbbf4.35553c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 470,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "f6e8a152.0792b",
        "type": "ui_chart",
        "z": "3912702a.a517b8",
        "name": "",
        "group": "216dbbf4.35553c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 550,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "292b19c8.828a96",
        "type": "ui_chart",
        "z": "3912702a.a517b8",
        "name": "",
        "group": "216dbbf4.35553c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Døgn",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 550,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "e9fceecc.118678",
        "type": "inject",
        "z": "3912702a.a517b8",
        "name": "Sekund",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 63.5,
        "y": 798,
        "wires": [
            [
                "b472d01e.fea058"
            ]
        ]
    },
    {
        "id": "b472d01e.fea058",
        "type": "rpi-ds18b20",
        "z": "3912702a.a517b8",
        "topic": "",
        "array": false,
        "name": "",
        "x": 265.5,
        "y": 798,
        "wires": [
            [
                "87d6270d.e1387",
                "ae506772.7f7a5"
            ]
        ]
    },
    {
        "id": "ae506772.7f7a5",
        "type": "ui_gauge",
        "z": "3912702a.a517b8",
        "name": "",
        "group": "216dbbf4.35553c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Akkurat nå",
        "label": "units",
        "format": "{{value | number:1 }}",
        "min": "15",
        "max": "25",
        "colors": [
            "#CA3838",
            "#E6E600",
            "#00B500"
        ],
        "seg1": "17",
        "seg2": "19",
        "x": 490,
        "y": 760,
        "wires": []
    },
    {
        "id": "4af1c3a0.981d14",
        "type": "ui_chart",
        "z": "3912702a.a517b8",
        "name": "",
        "group": "216dbbf4.35553c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Uke",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "5aba438e.1c3a44"
            ]
        ]
    },
    {
        "id": "f9d34043.4558c",
        "type": "ui_chart",
        "z": "3912702a.a517b8",
        "name": "",
        "group": "216dbbf4.35553c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Måned",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 1260,
        "wires": [
            [
                "b20d15a0.2a6cc"
            ]
        ]
    },
    {
        "id": "b20d15a0.2a6cc",
        "type": "persist in",
        "z": "3912702a.a517b8",
        "name": "month",
        "storageNode": "5ce27d23.2d802c",
        "x": 710,
        "y": 1320,
        "wires": []
    },
    {
        "id": "45f6569f.892cc8",
        "type": "persist out",
        "z": "3912702a.a517b8",
        "name": "month",
        "storageNode": "5ce27d23.2d802c",
        "x": 430,
        "y": 1320,
        "wires": [
            [
                "f9d34043.4558c"
            ]
        ]
    },
    {
        "id": "5ba6df84.646148",
        "type": "inject",
        "z": "3912702a.a517b8",
        "name": "Time",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 50,
        "y": 1200,
        "wires": [
            [
                "391f6ad.81f1716"
            ]
        ]
    },
    {
        "id": "391f6ad.81f1716",
        "type": "rpi-ds18b20",
        "z": "3912702a.a517b8",
        "topic": "",
        "array": false,
        "name": "",
        "x": 270,
        "y": 1200,
        "wires": [
            [
                "f9d34043.4558c",
                "4af1c3a0.981d14"
            ]
        ]
    },
    {
        "id": "5aba438e.1c3a44",
        "type": "persist in",
        "z": "3912702a.a517b8",
        "name": "week",
        "storageNode": "5ce27d23.2d802c",
        "x": 710,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ef1ca531.a21f48",
        "type": "persist out",
        "z": "3912702a.a517b8",
        "name": "week",
        "storageNode": "5ce27d23.2d802c",
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "4af1c3a0.981d14"
            ]
        ]
    },
    {
        "id": "216dbbf4.35553c",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur",
        "tab": "769bed8.24bf294",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5ce27d23.2d802c",
        "type": "persist-store",
        "z": "",
        "filename": "/data/chart-data.json",
        "interval": "60"
    },
    {
        "id": "769bed8.24bf294",
        "type": "ui_tab",
        "z": "",
        "name": "Basseng",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
