pool-monitor.json
[
    {
        "id": "1ca19469.f24dcc",
        "type": "tab",
        "label": "Temperatur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f55935b6.58e628",
        "type": "rpi-ds18b20",
        "z": "1ca19469.f24dcc",
        "topic": "",
        "array": false,
        "name": "",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "b5b77c3a.d4434",
                "edd07d7f.bad7a8"
            ]
        ]
    },
    {
        "id": "3c860a23.6089a6",
        "type": "inject",
        "z": "1ca19469.f24dcc",
        "name": "Minutt",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 60,
        "y": 1000,
        "wires": [
            [
                "f55935b6.58e628"
            ]
        ]
    },
    {
        "id": "b5b77c3a.d4434",
        "type": "ui_chart",
        "z": "1ca19469.f24dcc",
        "name": "",
        "group": "4d199c9f.de467c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Døgn",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 530,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "edd07d7f.bad7a8",
        "type": "ui_gauge",
        "z": "1ca19469.f24dcc",
        "name": "",
        "group": "4d199c9f.de467c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Akkurat nå",
        "label": "grader",
        "format": "{{value | number:1 }}",
        "min": "12",
        "max": "25",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "17",
        "seg2": "19",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "84e052a6.d3a948",
        "type": "ui_chart",
        "z": "1ca19469.f24dcc",
        "name": "",
        "group": "4d199c9f.de467c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Uke",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "e45526a2.4c6af"
            ]
        ]
    },
    {
        "id": "d8aca1b3.bbeb28",
        "type": "ui_chart",
        "z": "1ca19469.f24dcc",
        "name": "",
        "group": "4d199c9f.de467c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Måned",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 570,
        "y": 1260,
        "wires": [
            [
                "71755c15.df079c"
            ]
        ]
    },
    {
        "id": "71755c15.df079c",
        "type": "persist in",
        "z": "1ca19469.f24dcc",
        "name": "month",
        "storageNode": "f41d7126.354058",
        "x": 710,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e1c12fd2.78a9b",
        "type": "persist out",
        "z": "1ca19469.f24dcc",
        "name": "month",
        "storageNode": "f41d7126.354058",
        "x": 430,
        "y": 1320,
        "wires": [
            [
                "d8aca1b3.bbeb28"
            ]
        ]
    },
    {
        "id": "7aeedb76.cc78b4",
        "type": "inject",
        "z": "1ca19469.f24dcc",
        "name": "Time",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 50,
        "y": 1200,
        "wires": [
            [
                "e3147823.ea512"
            ]
        ]
    },
    {
        "id": "e3147823.ea512",
        "type": "rpi-ds18b20",
        "z": "1ca19469.f24dcc",
        "topic": "",
        "array": false,
        "name": "",
        "x": 270,
        "y": 1200,
        "wires": [
            [
                "d8aca1b3.bbeb28",
                "84e052a6.d3a948",
                "9be07fbb.02cd1"
            ]
        ]
    },
    {
        "id": "e45526a2.4c6af",
        "type": "persist in",
        "z": "1ca19469.f24dcc",
        "name": "week",
        "storageNode": "f41d7126.354058",
        "x": 710,
        "y": 1120,
        "wires": []
    },
    {
        "id": "efd43de3.05193",
        "type": "persist out",
        "z": "1ca19469.f24dcc",
        "name": "week",
        "storageNode": "f41d7126.354058",
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "84e052a6.d3a948"
            ]
        ]
    },
    {
        "id": "9be07fbb.02cd1",
        "type": "ui_chart",
        "z": "1ca19469.f24dcc",
        "name": "",
        "group": "4d199c9f.de467c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sesong",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "e2b977fe.6368f8"
            ]
        ]
    },
    {
        "id": "e2b977fe.6368f8",
        "type": "persist in",
        "z": "1ca19469.f24dcc",
        "name": "season",
        "storageNode": "f41d7126.354058",
        "x": 580,
        "y": 1440,
        "wires": []
    },
    {
        "id": "34b0c076.909a1",
        "type": "persist out",
        "z": "1ca19469.f24dcc",
        "name": "season",
        "storageNode": "f41d7126.354058",
        "x": 220,
        "y": 1440,
        "wires": [
            [
                "9be07fbb.02cd1"
            ]
        ]
    },
    {
        "id": "4d199c9f.de467c",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur",
        "tab": "f695cd7e.c77ae8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f41d7126.354058",
        "type": "persist-store",
        "z": "",
        "filename": "/data/chart-data.json",
        "interval": "60"
    },
    {
        "id": "f695cd7e.c77ae8",
        "type": "ui_tab",
        "z": "",
        "name": "Basseng",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
