pool-monitor.json
[
    {
        "id": "8a827613.b0aca8",
        "type": "tab",
        "label": "Temperatur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ceea47d1.1c4368",
        "type": "rpi-ds18b20",
        "z": "8a827613.b0aca8",
        "topic": "",
        "array": false,
        "name": "",
        "x": 265.5,
        "y": 995,
        "wires": [
            [
                "ae9601a8.92bae",
                "88f7010a.235bb",
                "e873222a.176918",
                "8e84445d.d73498"
            ]
        ]
    },
    {
        "id": "d27be5b6.841d08",
        "type": "inject",
        "z": "8a827613.b0aca8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 77.5,
        "y": 991,
        "wires": [
            [
                "ceea47d1.1c4368"
            ]
        ]
    },
    {
        "id": "27c73f6b.389438",
        "type": "ui_chart",
        "z": "8a827613.b0aca8",
        "name": "",
        "group": "c69a1174.137fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 475.5,
        "y": 825,
        "wires": [
            []
        ]
    },
    {
        "id": "ae9601a8.92bae",
        "type": "ui_chart",
        "z": "8a827613.b0aca8",
        "name": "",
        "group": "c69a1174.137fd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 473.5,
        "y": 896,
        "wires": [
            []
        ]
    },
    {
        "id": "88f7010a.235bb",
        "type": "ui_chart",
        "z": "8a827613.b0aca8",
        "name": "",
        "group": "c69a1174.137fd",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Døgn",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 474.5,
        "y": 995,
        "wires": [
            []
        ]
    },
    {
        "id": "694d5a20.4cc8ac",
        "type": "inject",
        "z": "8a827613.b0aca8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 73.5,
        "y": 798,
        "wires": [
            [
                "bdb9a8fc.d2fed8"
            ]
        ]
    },
    {
        "id": "bdb9a8fc.d2fed8",
        "type": "rpi-ds18b20",
        "z": "8a827613.b0aca8",
        "topic": "",
        "array": false,
        "name": "",
        "x": 265.5,
        "y": 798,
        "wires": [
            [
                "27c73f6b.389438",
                "fe066e6b.f5ad08"
            ]
        ]
    },
    {
        "id": "fe066e6b.f5ad08",
        "type": "ui_gauge",
        "z": "8a827613.b0aca8",
        "name": "",
        "group": "c69a1174.137fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Akkurat nå",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "25",
        "colors": [
            "#CA3838",
            "#E6E600",
            "#00B500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 488.5,
        "y": 731,
        "wires": []
    },
    {
        "id": "e873222a.176918",
        "type": "ui_chart",
        "z": "8a827613.b0aca8",
        "name": "",
        "group": "c69a1174.137fd",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Uke",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 473.5,
        "y": 1077,
        "wires": [
            []
        ]
    },
    {
        "id": "8e84445d.d73498",
        "type": "ui_chart",
        "z": "8a827613.b0aca8",
        "name": "",
        "group": "c69a1174.137fd",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Måned",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 472.5,
        "y": 1147,
        "wires": [
            []
        ]
    },
    {
        "id": "c69a1174.137fd",
        "type": "ui_group",
        "z": "",
        "name": "Temperatur",
        "tab": "d007eebb.08e0e8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d007eebb.08e0e8",
        "type": "ui_tab",
        "z": "",
        "name": "Basseng",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]